::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox */
}

.header-md::after {
    background-image: unset;
}

ion-item {
    --inner-border-width: 0 !important;
}

.profile {
    width: 100px;
    height: 100px;
    max-width: unset;
}

.profileIcons {
    background-color: #cef1e1;
    padding: 10px;
    border-radius: 8px;
    color: black;
    width: 54px;
    height: 54px;
    position: relative;
}

.profileIcons svg {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagCard {
    background-color: red;
    color: #fff;
    height: 30px;
}

.tagCard ion-card-content {
    padding: 5px 10px;
}

.toast-button {
    background-color: #ecb52f !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    font-weight: bold;
    height: 27px;
    padding: 0 10px;
    width: 40px;
}

.greenNotification {
    background-color: #cef1e1;
    padding: 10px;
    margin: 0;
    display: flex;
}

.greenNotification > *{
    margin-right: 5px;
}

.categoryCircle {
    width: 100px;
    height: 100px;
    border: 3px solid green;
    cursor: pointer;
}

.categoryGroup {
    text-align: center;
}

.cicrcleCategoryList {
    display: inline-flex;
}

.cicrcleCategoryList .item .item-inner {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

.categoryScroll {
    width: 100%;
    overflow-x: scroll;
}


.filterRow {
    background-color: #d7e8f4;
    padding: 10px 0 !important;
}

.filterRow a {
    text-decoration: none;
}

.filterRow a div svg {
    margin-right: 10px;
}
.filterLabel {
    font-size: 14px;
}

.withWhiteLine {
    border-right: 2px solid white;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.template-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.card {
    border: 1.5px solid #cbcbcb;
    margin: 2px;
    border-radius: 12px;
    position: relative;
    z-index: 0;
}

.card p {
    margin: 0;
}

.float-right {
    float: right;
}

.itemCard {
    height: 212px;
    cursor: pointer;
}
.item-details {
    padding: 5px;
}
.itemName {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemImage {
    width: 100%;
    height: 160px;
    display: block;
    text-align: center;
}

.itemImage img {
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: contain;
}

.itemPrice {
    font-weight: bold;
    color: green;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.itemCard:hover, .itemCard:active {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.p-0 {
    padding: 0;
}
.mr-1 {
    margin-right: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9;
}

.searchBar input {
    border: 1px solid #7c7c7c !important;
    border-radius: 10px !important;
}

.h-100 {
    height: 100%;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.variationDropdown {
    border: 1px solid grey;
    border-radius: 100px;
}


/* Dropdown */

.dropdown-toggle {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 4px;
}

.dropdown-menu {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    width: 95%;
}


.dropdown-menu.active {
    display: block;
}

.dropdown-menu div.dropdown-item {
    display: block;
    padding: 5px;
    color: #000;
}

.dropdown-menu div.dropdown-item:hover {
    background-color: #ccc;
}

.dropdown-selected-label div {
    width: 100%;
}

.dropdown-selected-label div.selected {
    text-align: right;
    font-weight: bold;
}

div.color-selected {
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    float: right;
    border-radius: 4px;
    background-color: green;
}

.text-justify {
    text-align: justify;
}

.text-ellips {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-ellips-more {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    width: 100%;
}

.mb-3 {
    margin-bottom: 30px;
}

.fixedAddToCart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
}

.fixedAddToCartButton {
    float: right;
    width: 150px;
    height: 50px;
}

.h-100px {
    height: 100px;
}

.w-100 {
    width: 100%;
}

.shippingAddress {
    width: 250px;
}

.newShippingAddress {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 60px;
}

ion-radio.shippingRadio {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    align-self: center;
}

ion-radio.shippingRadio::part(container) {
    border-radius: 8px;
    border: 2px solid #bebebe;
    background-color: #bebebe;
    border-radius: 100px;
    float: right;
}

ion-radio.shippingRadio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
}

ion-radio.shippingRadio.radio-checked::part(container) {
    background: #6815ec;
    border-color: transparent;
}

ion-radio.shippingRadio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;

    transform: rotate(45deg);
}

.transactionCircle {
    background-color: var(--ion-color-base);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 100px;
}

.transactionName {
    font-weight: 600;
    font-size: 18px !important;
}

.transactionItems {
    margin: 10px 0;
}

.transparent-bg {
    background-color: transparent;
}

.transactionDateTime {
    color: grey;
    font-size: 12px;
}

.center-align {
    align-items: center;
}

.cardItems .cardItem {
    display: flex !important;
}

.cartItems {
    width: 100%;
    border: 1px solid green;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}

.cartItems .img {
    width: 40%;
    margin-right: 10px;
}
.cartItems .description {
    width: 60%;
    margin-right: 10px;
}

.cartItems .description ion-label {
    display: block;
}

.cartItems .description ion-label.title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cartItems .description a {
    text-decoration: none;
    color: #000;
}
.cartItems .description ion-label.variation {
    background-color: rgb(228, 227, 227);
    color: #aaaaaa;
    padding: 4px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.cartItems:last-child {
    margin-bottom: 100px !important;
}
.cartItems ion-label {
    margin-bottom: 10px;
}

.cartItems .countItemMultiplier {
    display: flex;
    justify-content: space-around;
    background-color: rgb(211, 211, 211);
    border-radius: 6px;
    padding: 0 6px;
    width: 80px;
    text-align: center;
}
.cartItems .countItemMultiplier ion-icon {
    align-self: center;
}
.cartItems .countItemMultiplier ion-input{
    width: 30px;
    background-color: transparent;
    border: 0;
    text-align: center;
}
.cartItems .countItemMultiplier ion-input.has-focus,
.cartItems .countItemMultiplier ion-input.has-focus {
    border: 0;
}

.checkoutContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
}

.checkoutButton {
    width: 160px;
    height: 50px;
}

.text-red {
    color: red;
}

.navigation-icon {
    font-size: 24px !important;
}

.router-category {
    text-decoration: none;
    color: #000;
}

.filterIconSize {
    font-size: 25px;
}

.categoryCircles {
    text-decoration: none;
    color: #000;
}

.offerZoneIcon {
    font-size: 30px;
    color: gold;
}

.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.linkNoDesign {
    text-decoration: none;
    color: #000;
}

.success {
    color: #2dd36f;
}

.orders-arrow-icon {
    font-size: 30px;
    position: absolute;
    right: 0;
}

.walletBalance {
    font-size: 20px;
    font-weight: bold;
}

.actions-menu {
    padding: 0;
}

.actions-menu .item {
    padding: 0;
    margin-bottom: 10px;
}

.tracakOrderMenuIcon {
    transform: scale(-1, 1) translate(50%, -50%) !important;
}