/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --epa-theme-color: #0b8d43; 
}

body {
    background-color: var(--epa-theme-color);
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none; /* Firefox */
}

.header-md::after {
    background-image: unset;
}

ion-item {
    --inner-border-width: 0 !important;
}

.profile {
    width: 100px;
    height: 100px;
    max-width: unset;
}

.profileIcons {
    background-color: #cef1e1;
    padding: 10px;
    border-radius: 8px;
    color: black;
    width: 54px;
    height: 54px;
    position: relative;
}

.profileIcons svg {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.tagCard {
    background-color: red;
    color: #fff;
    height: 30px;
}

.tagCard ion-card-content {
    padding: 5px 10px;
}

.toast-button {
    background-color: #ecb52f !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    font-weight: bold;
    height: 27px;
    padding: 0 10px;
    width: 40px;
}

.greenNotification {
    background-color: #cef1e1;
    padding: 10px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.greenNotification > *{
    margin-right: 5px;
}

.categoryCircle {
    width: 100px;
    height: 100px;
    border: 3px solid green;
    cursor: pointer;
}

.categoryGroup {
    text-align: center;
}

.cicrcleCategoryList {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.cicrcleCategoryList .item .item-inner {
    -webkit-padding-start: 0 !important;
            padding-inline-start: 0 !important;
    -webkit-padding-end: 0 !important;
            padding-inline-end: 0 !important;
}

.categoryScroll {
    width: 100%;
    overflow-x: scroll;
}


.filterRow {
    background-color: #d7e8f4;
    padding: 10px 0 !important;
}

.filterRow a {
    text-decoration: none;
}

.filterRow a div svg {
    margin-right: 10px;
}
.filterLabel {
    font-size: 14px;
}

.withWhiteLine {
    border-right: 2px solid white;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.d-grid {
    display: -ms-grid;
    display: grid;
}

.template-3-columns {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.space-evenly {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.card {
    border: 1.5px solid #cbcbcb;
    margin: 2px;
    border-radius: 12px;
    position: relative;
    z-index: 0;
}

.card p {
    margin: 0;
}

.float-right {
    float: right;
}

.itemCard {
    height: 212px;
    cursor: pointer;
}
.item-details {
    padding: 5px;
}
.itemName {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.itemImage {
    width: 100%;
    height: 160px;
    display: block;
    text-align: center;
}

.itemImage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.itemPrice {
    font-weight: bold;
    color: green;
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.itemCard:hover, .itemCard:active {
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.p-0 {
    padding: 0 !important;
}
.mr-1 {
    margin-right: 10px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9;
}

.searchBar input {
    border: 1px solid #7c7c7c !important;
    border-radius: 10px !important;
}

.h-100 {
    height: 100%;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.right {
    float: right;
}

.variationDropdown {
    border: 1px solid grey;
    border-radius: 100px;
}


/* Dropdown */

.dropdown-toggle {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    position: relative;
    margin-bottom: 4px;
}

.dropdown-menu {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    width: 95%;
}


.dropdown-menu.active {
    display: block;
}

.dropdown-menu div.dropdown-item {
    display: block;
    padding: 5px;
    color: #000;
}

.dropdown-menu div.dropdown-item:hover {
    background-color: #ccc;
}

.dropdown-selected-label div {
    width: 100%;
}

.dropdown-selected-label div.selected {
    text-align: right;
    font-weight: bold;
}

div.color-selected {
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    float: right;
    border-radius: 4px;
    background-color: green;
}

.text-justify {
    text-align: justify;
}

.text-ellips {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-ellips-more {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
    width: 100%;
}

.mb-3 {
    margin-bottom: 30px !important;
}

.fixedAddToCart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
}

.fixedAddToCartButton {
    float: right;
    width: 150px;
    height: 50px;
}

.h-100px {
    height: 100px;
}

.w-100 {
    width: 100%;
}

.shippingAddress {
    width: 250px;
}

.newShippingAddress {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 60px;
}

ion-radio.shippingRadio {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

ion-radio.shippingRadio::part(container) {
    border-radius: 8px;
    border: 2px solid #bebebe;
    background-color: #bebebe;
    border-radius: 100px;
    float: right;
}

ion-radio.shippingRadio::part(mark) {
    background: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    border-radius: 0;
}

ion-radio.shippingRadio.radio-checked::part(container) {
    background: #6815ec;
    border-color: transparent;
}

ion-radio.shippingRadio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;

    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;

    -webkit-transform: rotate(45deg);

        -ms-transform: rotate(45deg);

            transform: rotate(45deg);
}

.transactionCircle {
    background-color: var(--ion-color-base);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 100px;
}

.transactionName {
    font-weight: 600;
    font-size: 18px !important;
}

.transactionItems {
    margin: 10px 0;
}

.transparent-bg {
    background-color: transparent;
}

.transactionDateTime {
    color: grey;
    font-size: 12px;
}

.center-align {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cardItems .cardItem {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.cartItems {
    width: 100%;
    border: 1px solid green;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    position: relative;
}

.cartItems .img {
    width: 40%;
    margin-right: 10px;
}
.cartItems .description {
    width: 60%;
    margin-right: 10px;
}

.cartItems .description ion-label {
    display: block;
}

.cartItems .description ion-label.title {
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}
.cartItems .description a {
    text-decoration: none;
    color: #000;
}
.cartItems .description ion-label.variation,
.order-track-details .variation {
    background-color: rgb(228, 227, 227);
    color: #aaaaaa;
    padding: 4px;
    border-radius: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.cartItems:last-child {
    margin-bottom: 100px !important;
}
.cartItems ion-label {
    margin-bottom: 10px;
}

.cartItems .countItemMultiplier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: rgb(211, 211, 211);
    border-radius: 6px;
    padding: 0 6px;
    width: 80px;
    text-align: center;
}
.cartItems .countItemMultiplier ion-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.cartItems .countItemMultiplier ion-input{
    width: 30px;
    background-color: transparent;
    border: 0;
    text-align: center;
}
.cartItems .countItemMultiplier ion-input.has-focus,
.cartItems .countItemMultiplier ion-input.has-focus {
    border: 0;
}

.checkoutContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
}

.checkoutButton {
    width: 160px;
    height: 50px;
}

.text-red {
    color: red;
}

.navigation-icon {
    font-size: 24px !important;
}

.router-category {
    text-decoration: none;
    color: #000;
}

.filterIconSize {
    font-size: 25px;
}

.categoryCircles {
    text-decoration: none;
    color: #000;
}

.offerZoneIcon {
    font-size: 30px;
    color: gold;
}

.m-0 {
    margin: 0 !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.linkNoDesign {
    text-decoration: none;
    color: #000;
}

.success {
    color: #2dd36f;
}

.orders-arrow-icon {
    font-size: 30px;
    position: absolute;
    right: 0;
}

.walletBalance {
    font-size: 20px;
    font-weight: bold;
}

.actions-menu {
    padding: 0;
}

.actions-menu .item {
    padding: 0;
    margin-bottom: 10px;
}

.tracakOrderMenuIcon {
    -webkit-transform: scale(-1, 1) translate(50%, -50%) !important;
        -ms-transform: scale(-1, 1) translate(50%, -50%) !important;
            transform: scale(-1, 1) translate(50%, -50%) !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.card_inputs {
    margin-top: 20px;
    padding: 10px;
    position: relative;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.card_inputs ion-item {
    margin-bottom: 10px;
}

.card_inputs ion-button {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
}

.card_inputs ion-item ion-input {
    /* position: absolute; */
    height: 40px !important;
}


.card-list-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.card-container-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}


.card-container-flex > *,
.card-list-flex > * {
    margin: 0;
}

.card-container-flex .rccs {
    margin: 0 auto;
}

.card-container-flex > :first-child {
    -webkit-box-flex: .1;
        -ms-flex: .1;
            flex: .1;
}

.card-list-flex > :first-child {
    -webkit-box-flex: 0.05;
        -ms-flex: 0.05;
            flex: 0.05;
}

.card-container-flex > :nth-child(2) {
    -webkit-box-flex: .5;
        -ms-flex: .5;
            flex: .5;
}

.card-container-flex > :last-child,
.card-list-flex > :last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.card-list-flex .title {
    font-size: 20px;
    font-weight: bold !important;
    position: relative;
    top: -10px;
}

.card-list-flex a {
    text-decoration: none;
    width: 100%;
}
.card-list-flex .card-new {
    width: inherit;
    height: 200px;
    border: 2px dashed black;
    position: relative;
    border-radius: 20px;
    text-align: center;
}
.card-list-flex .card-new h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
}

.badgeNotification {
    border-radius: 100px;
    top: 4px;
}

.badgeNotification.float {
    position: absolute;
    top: 5px;
}

.notification-card-link {
    text-decoration: none;
}

.notification-card-link .description > * {
    font-size: 12px;
    line-height: 1;
    display: block;
    color: grey;
}

.order-track-card {
    background-color: #fff;
    margin: 10px 0;
}

.order-track-courier-status ion-label {
    font-size: 12px;
}

.order-track-details ion-label > * {
    display: block;
}

.order-track-details ion-label .product_name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}


.two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.delivery_date {
    margin: 0 !important;
}

.grey-color {
    color: grey;
}

.storeLink {
    text-decoration: none;
    font-size: 12px;
}

.carditems .rccs {
    width: 100% !important;
}

.carditems .rccs > div{
    max-width: 380px;
    width: 100% !important;
    height: 210px !important;
}

.defaultCard {
    position: relative;
}
.defaultCard h1 {
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4.8%;
    left: 50%;
    transform: translate(-100%, -100%);
    border-top-right-radius: 14px;
    border-bottom-left-radius: 5px;
}

.cashInButton {
    --border-radius: 20px;
    float: right;
}

.iconPackage > * {
    display: block;
    width: 100% !important;
    text-align: center;
    margin: 6px 0;
}

.iconPackage .icons {
    font-size: 30px;
}
.walletContainer {    
    display: flex;
    flex-direction: column;
}

.walletTransactions {
    background-color: #f5f5f5;
    overflow: scroll;
    height: calc(100vh - 300px);
}

.walletTransactions .transactionItem {
    margin-bottom: 5px;
}

.transactionType {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: var(--ion-color-primary);
    display: inline-block;
}

.transactionType p {
    height: inherit;
    color: #fff;
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-size: 2vw;
}

.epa-button {
    --background: rgb(179,210,83);
    --background: linear-gradient(90deg, rgba(179,210,83,1) 0%, rgba(85,174,80,1) 46%, rgba(11,141,67,1) 100%);
}

.epa-button-reverse {
    --background: rgb(179,210,83);
    --background: linear-gradient(270deg, rgba(179,210,83,1) 0%, rgba(85,174,80,1) 46%, rgba(11,141,67,1) 100%);
}

.epa-input {
    --background: #fff;
    --border-style: none;
    --border-radius: 50px;
    --border-style: solid;
    --border-width: 1px;
    --border-color: linear-gradient(90deg, rgba(179,210,83,1) 0%, rgba(85,174,80,1) 46%, rgba(11,141,67,1) 100%);
}

.epa-toolbar {
    --background: var(--epa-theme-color);
    color: #fff;
}
.avatar {
    width: 30px;
    border-radius: 50px;
    margin-right: 10px;
}

.star-rating-yellow {
    color: yellow;
}